<h1>Artists</h1> 
<table>
    <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Years</th>
        <th>Albums</th>
        <th>Common Word</th>
        <th colspan="5"></th>
    </tr>


    <% @artists.each do |artist| %>
        <tr>
            <td><%= artist.name %></td>
            <td><%= artist.genre %></td>
            <td><%= artist.year_range %></td>
            <td><%= artist.album_count %></td>
            <td><%= artist.common_word %></td>
            <td><%= link_to 'Show', artist_path(artist) %></td>
            <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
            <td><%= link_to 'Remove', artist_path(artist),
                        method: :delete,
                        data: {confirm: "OK to remove?"} %></td>
        </tr>
        <% if @show_albums %>
            <% artist.albums.each do |album| %>
                <tr>
                    <td></td>
                    <td><%= album.title  %> (<%= album.year %>)</td>
                </tr>
            <% end %>
        <% end %>
    <% end %>

</table>


<%= button_to "CSV", "/artists.csv", method: :get %>
<%= button_to 'Add Artist', new_artist_path(), method: :get %>

